.main.container {
	height: 100%;
}

.basic-detail {
	height: 100%;
}

h1,h2,h3,h4,h5,h6,p {
	margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.basic-detail .store-switch {
	height: 40px;
  display: flex;
  border: 1px solid #e8e8e8;
}

.basic-detail .store-switch .store-title {
    width: 700px;
    -webkit-display: flex;
    -webkit-flex-direction: row;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.basic-detail .store-switch .store-title .name {
    width: 100px;
    padding-left: 20px;
}

.basic-detail .store-switch .store-title .business {
    width: 550px;
    padding-left: 20px;
}

.basic-detail .store-switch .store-name {
    width: 500px;
    background-color: #f5f5f5;
    -webkit-display: flex;
    -webkit-flex-direction: row;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.basic-detail .store-switch .store-name ul {
	float: left;
    line-height: 39px;
    margin: 0;
    padding: 0;
}

.basic-detail .store-switch .store-name ul li {
	float: left;
}

.basic-detail .store-switch .store-name ul li a {
 	height: 39px;
    margin-left: -1px;
    padding: 0 19px;
    float: left;
    display: block;
    border-left: solid 1px #f5f5f5;
    border-right: solid 1px #f5f5f5;
    text-decoration: none;
    color: #6d6d6d;
}

.basic-detail .store-switch .store-name ul li a.active {
    position: relative;
    z-index: 1;
    background-color: #fff;
    border-color: #e5e5e5;
    color: rgb(255, 90, 0);
}

/* 商家基本详情（价格，分数、服务类型等 */
.basic-detail .store-basic .store-info .basic .basic-detail-text {
	width: 800px;
	height: 100px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 18px;
	background-color: #f5f5f5;
	display: flex;
	align-items: center;
}
.basic-detail .store-basic .store-info .basic .basic-detail-text .first-child {
	width: 300px;
}
.basic-detail .store-basic .store-info .basic .basic-detail-text .first-child p {
	color: rgb(255, 90, 0);
}
.basic-detail .store-basic .store-info .basic .basic-detail-text .second-child {
	width: 500px;
}

/* 附加服务选项 */
.long-hourly .choose-server {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.long-hourly .choose-server .one-server {
	width: 33%;
}
.long-hourly .choose-server .one-server .addserver {
	color: rgb(255, 90, 0);
}

/* 服务时间的选择 */
.date-hour .date-all .date-hour {

}
.date-hour .hour-all {
	width: 50%;
	margin: 0;
	padding: 0;
}
.date-hour .hour-all .hour-one {
	margin: 5px 0;
	padding: 0;
}
/* 可以选择时间的样式 */
.date-hour .hour-all .hour-one .allow {

}
/* 已选择时间的样式 */
.date-hour .date-hour .btn-danger {
	background-color: rgb(255, 90, 0);
	border-color: rgb(255, 90, 0);
}

/* 商家详情 */
.basic-detail .store-basic {
	border: 1px solid #e8e8e8;
    margin-top: 20px;
}

.basic-detail .store-basic .store-info {
	display: flex;
    flex-direction: row;
    padding: 10px;
    border-bottom: 1px solid #e8e8e8;
}

.basic-detail .store-basic .img img {
	width: 205px;
    height: 151px;
}
.basic-detail .store-basic .basic {
	margin-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.basic-detail .store-basic .basic .name p {
	margin-right: 10px;
}

.basic-detail .store-basic .basic-info {
	display: flex;
	flex-direction: row;
}
.basic-detail .store-basic .basic-info .staff-other {
	width: 20%;
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid #e8e8e8;
}
.basic-detail .store-basic .basic-info .staff-other .staff-other-child {
	margin: 10px 0;
}
.basic-detail .store-basic .basic-info .staff-other .other-store {
	padding: 10px 0;
    display: flex;
}
.basic-detail .store-basic .basic-info .staff-other .other-store img {
    width: 120px;
    height: 100px;
}
.basic-detail .store-basic .basic-info .staff-other .other-store-info {
	width: 120px;
	padding: 20px 0;
}
.basic-detail .store-basic .basic-info .staff-other .other-store-info p {
	margin-top: 10px;
}
.staff-info {
	width: 80%;
}

.basic-detail .store-basic .basic-info .tab-content {
	margin: 20px 10px;
	font-size: 16px;
}

.basic-detail .store-basic .basic-info .tab-content img {
	margin-bottom: 20px;
}

.basic-detail .store-basic .store-order {
	padding: 20px 0;
	display: flex;
	align-items: center;
}

.basic-detail .store-basic .store-order button {
	margin-right: 10px;
}
